<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9bfebcea-f216-4244-a71d-e6dccfbc8079" name="Test Suite for Profile Permission Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9bfebcea-f216-4244-a71d-e6dccfbc8079fileName">Test-Suite-for-Profile-Permission-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>