<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e538d841-60e2-46d8-b325-1deae1421ed8" name="API INT Characteristic Value" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ed46d303-8431-4da5-b912-601fb79c6b7efileName">API-INT-Characteristics</con:setting>
    <con:setting id="e538d841-60e2-46d8-b325-1deae1421ed8fileName">API-INT-Characteristic-Value</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>