<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f8005cf4-b626-4e61-9d7a-8749db0bc8d5" name="API EXT Product Reservation" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="94e02186-21a3-4017-afa8-3eac0257905efileName">API-INT-Product-Reservation</con:setting>
    <con:setting id="f8005cf4-b626-4e61-9d7a-8749db0bc8d5fileName">API-EXT-Product-Reservation</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>