<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c65417d3-9c5b-4151-8862-674aec3e081e" name="API EXT Product Status Change" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c65417d3-9c5b-4151-8862-674aec3e081efileName">API-EXT-Product-Status-Change</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>