<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="151b4333-4e8d-4ea8-8e88-28705574696f" name="API INT Characteristic Owner Role Spec Char Value Use" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="151b4333-4e8d-4ea8-8e88-28705574696ffileName">API-INT-Characteristic-Owner-Role-Spec-Char-Value-Use</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>