<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="eb9d19f8-1698-43b1-851e-7dd0dc0dad29" name="API INT Stock Level" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6ce9cb93-f653-4f1e-b09b-2f3d83d40b1dfileName">API-EXT-Stock-Level</con:setting>
    <con:setting id="eb9d19f8-1698-43b1-851e-7dd0dc0dad29fileName">API-INT-Stock-Level</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>