<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e54a1847-bb22-4880-bc80-a5eac103a420" name="API EXT Characteristic Value" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e54a1847-bb22-4880-bc80-a5eac103a420fileName">API-EXT-Characteristic-Value</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>