<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dfeaf1fb-5ae2-4992-b099-a2145c475a75" name="API INT User" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="dfeaf1fb-5ae2-4992-b099-a2145c475a75fileName">API-User</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>