<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="00737be9-4842-43c1-847c-875b4e9585bc" name="API INT Exchange Rate" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="00737be9-4842-43c1-847c-875b4e9585bcfileName">API-EXT-Exchange-Rate</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>