<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4e0ba7d6-c8cc-4c48-8e81-fef98047e208" name="API INT Characteristic Owner Role Spec" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4e0ba7d6-c8cc-4c48-8e81-fef98047e208fileName">API-INT-Characteristic-Owner-Role-Spec</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>