<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="986bd404-a0b3-4f5c-bc96-939cdd479a91" name="API INT Change Entity Characteristics" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="986bd404-a0b3-4f5c-bc96-939cdd479a91fileName">API-INT-Change-Entity-Characteristics</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>