<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="060c70a6-6c31-4361-aa66-eaf0d298670e" name="API EXT Sales" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="060c70a6-6c31-4361-aa66-eaf0d298670efileName">API-EXT-Sales</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>