<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6ce9cb93-f653-4f1e-b09b-2f3d83d40b1d" name="API EXT Stock Level" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6ce9cb93-f653-4f1e-b09b-2f3d83d40b1dfileName">API-EXT-Stock-Level</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>