<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="40350147-eb47-427c-8261-9a55e1450726" name="API INT Security / Login" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="40350147-eb47-427c-8261-9a55e1450726fileName">API-INT-Security-%2F-Login</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>