<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5778d16a-6be5-4672-b3e5-2a084326e6e3" name="Test Suite for Product Inquiry Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5778d16a-6be5-4672-b3e5-2a084326e6e3fileName">Test-Suite-for-Product-Inquiry-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>