<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="75478f41-5fa9-4eac-b90d-9e1037e7a630" name="API INT Product Transfer" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="75478f41-5fa9-4eac-b90d-9e1037e7a630fileName">API-INT-Product-Transfer</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>