<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9638365a-dc82-4994-886c-3f12597dc205" name="Test Suite for Noncommon Functions" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9638365a-dc82-4994-886c-3f12597dc205fileName">Test-Suite-for-Noncommon-Functions</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>