<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2802e068-c3c4-42a4-b0a4-d8e691ab317e" name="Test Suite for Contact Medium" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2802e068-c3c4-42a4-b0a4-d8e691ab317efileName">Test-Suite-for-Contact-Medium</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>