<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="126c5a96-c5b9-4b56-9eb0-79984f2d5506" name="API EXT POSTAL ADDRESS" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="126c5a96-c5b9-4b56-9eb0-79984f2d5506fileName">API-EXT-POSTAL-ADDRESS</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>