<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b295f54a-160e-4bad-92ac-5c1f9079605c" name="Test Suite for Slice Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b295f54a-160e-4bad-92ac-5c1f9079605cfileName">Test-Suite-for-Slice-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>