<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="407b754b-ec35-4b4e-b996-7784ab61a645" name="API INT Function Control" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="407b754b-ec35-4b4e-b996-7784ab61a645fileName">API-INT-Function-Control</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>