<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fb19dfed-1430-4b31-acc3-70f8f431cbee" name="API EXT Business Interaction Reason" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fb19dfed-1430-4b31-acc3-70f8f431cbeefileName">API-EXT-Business-Interaction-Reason</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>