<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f92d8108-be4a-405f-8c18-1b0c9504e9ab" name="API INT Composite Place" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f92d8108-be4a-405f-8c18-1b0c9504e9abfileName">API-INT-Composite-Place</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>