<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="576c198d-7f9c-411d-ac98-e4a9610435c3" name="API EXT Payment" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="576c198d-7f9c-411d-ac98-e4a9610435c3fileName">API-EXT-Payment</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>