<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ee1f8d87-7766-45a6-b053-f317bbb8fac3" name="API INT Stock Out" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3c4afb1f-bf9b-4890-9c12-a76cec7e85bcfileName">API-Stock-Out</con:setting><con:setting id="ee1f8d87-7766-45a6-b053-f317bbb8fac3fileName">API-INT-Stock-Out</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>