<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b57c9a81-ca86-4ebe-b4df-27d136523765" name="Test Suite for Bundle in Bundle" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b57c9a81-ca86-4ebe-b4df-27d136523765fileName">Test-Suite-for-Bundle-in-Bundle</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>