<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="69b99722-ecc2-4b2f-8239-163c6ddc956d" name="Test Suite for Product Reservation Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="69b99722-ecc2-4b2f-8239-163c6ddc956dfileName">Test-Suite-for-Product-Reservation-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>