<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1521d0ac-5908-4450-8fde-a16511338fe0" name="API EXT Terminal" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1521d0ac-5908-4450-8fde-a16511338fe0fileName">API-EXT-Terminal</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>