<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2857f00b-2c1f-4cb8-9aef-a80f674619d3" name="Test Suite for File Upload" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2857f00b-2c1f-4cb8-9aef-a80f674619d3fileName">Test-Suite-for-FileUpload</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>