<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ebd74acf-76e4-4429-a9da-8bea9e7abc78" name="API INT OM Notify" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ebd74acf-76e4-4429-a9da-8bea9e7abc78fileName">API-INT-OM-Notify</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>