<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e9852ded-dc52-4911-86d1-b2d38fbda603" name="API EXT Money Transfer" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e9852ded-dc52-4911-86d1-b2d38fbda603fileName">API-EXT-Money-Transfer</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>