<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="70071cbe-1850-4f04-891c-44e47f380e11" name="API EXT Contact Medium" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="70071cbe-1850-4f04-891c-44e47f380e11fileName">API-EXT-Contact-Medium</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>