<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="92aa42c1-1ae0-4f92-8705-bb91d6c9d0d2" name="Test Suite for Create Terminal Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="92aa42c1-1ae0-4f92-8705-bb91d6c9d0d2fileName">Test-Suite-for-Create-Terminal-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>