<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7b39ed66-5258-4c88-b652-8a9d1c2d3ff5" name="API EXT Product Transfer" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7b39ed66-5258-4c88-b652-8a9d1c2d3ff5fileName">API-EXT-Product-Transfer</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>