<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f9fd2e60-66a1-4079-b722-01c898d54fb4" name="API INT Business Interaction Reason" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fb19dfed-1430-4b31-acc3-70f8f431cbeefileName">API-EXT-Business-Interaction-Reason</con:setting>
    <con:setting id="f9fd2e60-66a1-4079-b722-01c898d54fb4fileName">API-INT-Business-Interaction-Reason</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>