<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="911efe41-3d8b-48e5-8559-d0e125340477" name="TestSuite for TearDown" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="911efe41-3d8b-48e5-8559-d0e125340477fileName">TestSuite-for-TearDown</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>