<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1729bf94-2a71-4c6b-85ce-957531946cea" wadlVersion="http://wadl.dev.java.net/2009/02" name="ERMS API" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1729bf94-2a71-4c6b-85ce-957531946ceafileName">ERMS-API</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>${#Project#Endpoint}</con:endpoint>
    <con:endpoint>${#Project#ExtEndpoint}</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>