<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="52a549b9-d6a0-4572-ae5e-f3b48b73ebf3" name="API EXT Stock Out" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="52a549b9-d6a0-4572-ae5e-f3b48b73ebf3fileName">API-EXT-Stock-Out</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>