<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="eb08898d-82f7-4574-9e3f-fb3bd567152b" activeEnvironment="Default environment" name="Ericsson Retail Management System" lastOpened="2017-08-14T13:28:19.808+03:00" resourceRoot="" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="eb08898d-82f7-4574-9e3f-fb3bd567152bfileName">Ericsson-Retail-Management-System-soapui-project</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>ssh://eerccan@gerrit.epk.ericsson.se:29418/erms/com.ericsson.bss.rm.erms.restapi</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value>http://localhost:8181/erms/v1</con:value>
    </con:property>
    <con:property>
      <con:name>ExtEndpoint</con:name>
      <con:value>http://localhost:8181/erms/retailManagement/v1</con:value>
    </con:property>
    <con:property>
      <con:name>DefaultUserRoleId</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>DefaultSalesOrganizationRoleId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>AbortOnFirstError</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>DebugMode</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>AuthorizationSystem</con:name>
      <con:value>Bearer eyJraWQiOiIxIiwiYWxnIjoiUlMyNTYifQ.eyJpc3MiOiJVTVMtUHJlZmlsdGVyLUNoZWNrQXV0aG9yaXplIiwic3ViIjpudWxsLCJhdWQiOiJSTSIsImlhdCI6MTQ4NzE2MDk3OSwiZXhwIjoxNTUwNTYxMzgyLCJhdXRoX3RpbWUiOiIxMzExMjgwODcwIiwibm9uY2UiOiJuLTBTNl9XekEyTWoiLCJuYW1lIjoiVU1TIFRlc3QgVXNlciIsInNjcCI6WyJzeXN0ZW1fdXNlciJdLCJ4X2Ric3MiOnsiYXV0aHpQcm9maWxlTmFtZSI6IkVSTVNfU1lTVEVNX0F1dGh6UHJvZmlsZSIsInZlcnNpb24iOiJ2MSIsInBhcnR5X2lkIjoiMTIzIiwicm9sZV9jaGFyYWN0ZXJpc3RpY3NfdmFsdWUiOiJFUk1TX1NZU1RFTSJ9fQ.e9uFotWOR61ABB315Qhiyvu4skDuTjkT0_o_P2adKx1pjLlY-KAk5Xrc11XhW5CwzpOcZfDonyUQim2FugdJ8dMZcPmxsFOltbcb8pjUZDK8M_sASm1zV6PKdGdvQbNeijcWlwy5ZPfJyi_G0qMRsX7_aRDZj5kb7jMVKrjGK7c</con:value>
    </con:property>
    <con:property>
      <con:name>AuthorizationUser</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationAdmin</con:name>
      <con:value>Bearer eyJraWQiOiIxIiwiYWxnIjoiUlMyNTYifQ.eyJpc3MiOiJVTVMtUHJlZmlsdGVyLUNoZWNrQXV0aG9yaXplIiwic3ViIjoiVEVTVCIsImF1ZCI6IlJNIiwiaWF0IjoxNDg3MTYwOTc5LCJleHAiOjE1NTA1NjEzODIsImF1dGhfdGltZSI6IjEzMTEyODA4NzAiLCJub25jZSI6Im4tMFM2X1d6QTJNaiIsIm5hbWUiOiJVTVMgVGVzdCBVc2VyIiwieF9kYnNzIjp7ImF1dGh6UHJvZmlsZU5hbWUiOiJFUk1TX0FETUlOX0F1dGh6UHJvZmlsZSIsInZlcnNpb24iOiJ2MSIsInBhcnR5X2lkIjoiMTIzIiwiZXh0ZXJuYWxfdXNlcm5hbWUiOiJTWVNVU1ItRVJNUyJ9fQ.n7btlAc954hhN-jxYnHdiYg_0PZbGLDc1DlXrZ9WhqDruBNetsUPJH2ACNPtvJBSwEmnC1TyulWBQmd9DpPGH6MlOJEaq4bKC5XkjqD0EKys9sJeu478i6Bq2Tuohm31PqfFxZxP-WrsAUr4SgHtkqbrokr7n7EhTWhq9-mtEQg</con:value>
    </con:property>
    <con:property>
      <con:name>AuthorizationIntUser</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SystemSo</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>UserSo</con:name>
      <con:value xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
    </con:property>
    <con:property>
      <con:name>Prefix</con:name>
      <con:value>100</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>Oracle ERMS</con:name>
      <con:driver>oracle.jdbc.driver.OracleDriver</con:driver>
      <con:connectionString>jdbc:oracle:thin:erms/PASS_VALUE@localhost:1521:orcl</con:connectionString>
      <con:password>erms</con:password>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>def headers = request.requestHeaders


def bearerUser = context.expand('${#Project#AuthorizationUser}')
def bearerSystem = context.expand('${#Project#AuthorizationSystem}')
def bearerAdmin = context.expand('${#Project#AuthorizationAdmin}')
def bearerIntUser = context.expand('${#Project#AuthorizationIntUser}')

if(headers.keySet().contains("Authorization")){
  headers.remove("Authorization");
}

if(request.getEndpoint().indexOf("ExtEndpoint")==-1) {
 // headers.put( "Authorization", bearerAdmin )

  if(bearerIntUser != "") {
    headers.put( "Authorization", bearerIntUser )
  } else {
    headers.put( "Authorization", bearerAdmin )
  }

  
} 

else {
  if(bearerUser != "") {
    headers.put( "Authorization", bearerUser )
  } else {
    headers.put( "Authorization", bearerSystem )
  }
}

def bearerUserSo = context.expand('${#Project#UserSo}')
def bearerSystemSo = context.expand('${#Project#SystemSo}')

if(headers.keySet().contains("ERICSSON.Sales-Organization-Role-Id")){
  headers.remove("ERICSSON.Sales-Organization-Role-Id");
}

if(bearerUserSo != ""){
  headers.put( "ERICSSON.Sales-Organization-Role-Id", bearerUserSo )}
else
  headers.put( "ERICSSON.Sales-Organization-Role-Id", bearerSystemSo )
      
request.requestHeaders = headers</con:script>
  </con:eventHandlers>
  <con:environment id="545af755-a4ba-49fa-8958-cb47c46eeab5" name="Local">
    <con:service type="REST" name="ERMS API">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value>http://localhost:8181/erms/v1</con:value>
    </con:property>
    <con:property>
      <con:name>ExtEndpoint</con:name>
      <con:value>http://localhost:8181/erms/retailManagement/v1</con:value>
    </con:property>
    <con:property>
      <con:name>DefaultUserRoleId</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>DefaultSalesOrganizationRoleId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>AbortOnFirstError</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>DebugMode</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>AuthorizationSystem</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationUser</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SystemSo</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserSo</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationAdmin</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationIntUser</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Prefix</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Oracle ERMS</con:name>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
  </con:environment>
  <con:environment id="4ddcc3ca-8adf-4d35-ad04-d6c2f98863fb" name="Test">
    <con:service type="REST" name="ERMS API">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="" proxyHost="" proxyPort="" proxyUsername="" proxyPassword=""/>
    </con:service>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value>http://vmx-erms008:8080/erms/v1</con:value>
    </con:property>
    <con:property>
      <con:name>ExtEndpoint</con:name>
      <con:value>http://vmx-erms008:8080/erms/retailManagement/v1</con:value>
    </con:property>
    <con:property>
      <con:name>DefaultUserRoleId</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>DefaultSalesOrganizationRoleId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>AbortOnFirstError</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>DebugMode</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>AuthorizationSystem</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationUser</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SystemSo</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>UserSo</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationAdmin</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>AuthorizationIntUser</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Prefix</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>Oracle ERMS</con:name>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
  </con:environment>
  <con:authRepository/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="545af755-a4ba-49fa-8958-cb47c46eeab5">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
    <con:entry environmentId="4ddcc3ca-8adf-4d35-ad04-d6c2f98863fb">
      <con:authProfile>No Authorization</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tags/>
</con:soapui-project>