<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1c4395bf-942f-4d2a-a71c-0af2843cccda" name="API INT Product Status Change" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1c4395bf-942f-4d2a-a71c-0af2843cccdafileName">API-INT-Product-Status-Change</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>