<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b0e31d0b-d07e-407c-ad19-147438989155" name="API INT Specification" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b0e31d0b-d07e-407c-ad19-147438989155fileName">API-Specification</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>