<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1ae82868-eb6c-436d-bbcb-f1f10f7af0fc" name="API EXT Starter Pack" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1ae82868-eb6c-436d-bbcb-f1f10f7af0fcfileName">API-EXT-Starter-Pack</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>