<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b6facd46-f336-40d9-b77c-a8ae27fb6a81" name="API EXT Change Sales Organization Parent" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b6facd46-f336-40d9-b77c-a8ae27fb6a81fileName">API-EXT-Change-Sales-Organization-Parent</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>