<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2a666c94-1788-4cc6-9982-7343eb13a4a1" name="API EXT Account" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2a666c94-1788-4cc6-9982-7343eb13a4a1fileName">API-EXT-Account</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>