<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="82a81422-31ed-410d-9c86-b66bc427fff8" name="Test Suite for Start Session Business Interaction" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="82a81422-31ed-410d-9c86-b66bc427fff8fileName">Test-Suite-for-Start-Session-Business-Interaction</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>