<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="031db0f3-f735-4406-ac0e-b61aba9de773" name="API EXT Region" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d0108972-946f-4c42-b2a7-78dca8df48a2fileName">API-Account</con:setting>
    <con:setting id="17e1b748-fda9-4a81-97f5-1eed147df4c0fileName">API-INT-Account-Balance</con:setting>
    <con:setting id="2abd2e7a-824e-4fb2-ad3b-d4c92f306cf8fileName">API-INT-Region</con:setting>
    <con:setting id="031db0f3-f735-4406-ac0e-b61aba9de773fileName">API-EXT-Region</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>