<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0ee86b47-7534-46e6-81a0-f9c366751a27" name="API EXT BI Specification" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0ee86b47-7534-46e6-81a0-f9c366751a27fileName">API-EXT-BI-Specification</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>