<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bff47daf-ac22-4fc7-a210-4cbf07107dfb" name="Test Suite for StartUp" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bff47daf-ac22-4fc7-a210-4cbf07107dfbfileName">Test-Suite-for-StartUp</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>req_Action</con:name>
      <con:value>MCM.Update</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>