<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2f818a17-3149-4d16-a84b-c7dbbc8c1cd2" name="API INT Product" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2f818a17-3149-4d16-a84b-c7dbbc8c1cd2fileName">API-Product</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>