<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4336baff-12b9-4e64-b116-c41e1d4378fd" name="API INT Domain" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4336baff-12b9-4e64-b116-c41e1d4378fdfileName">API-INT-Domain</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>