<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a193392e-f926-4309-8d5f-a9fc99526dd1" name="Test Suite for Stock-In Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a193392e-f926-4309-8d5f-a9fc99526dd1fileName">TestSuite-StockIn</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>biId</con:name>
      <con:value>358</con:value>
    </con:property>
    <con:property>
      <con:name>soId</con:name>
      <con:value>44</con:value>
    </con:property>
    <con:property>
      <con:name>inventoryId</con:name>
      <con:value>47</con:value>
    </con:property>
    <con:property>
      <con:name>userId</con:name>
      <con:value>46</con:value>
    </con:property>
    <con:property>
      <con:name>terminalId</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>placeId</con:name>
      <con:value>23</con:value>
    </con:property>
    <con:property>
      <con:name>nonSerializedProductSpecId</con:name>
      <con:value>30</con:value>
    </con:property>
    <con:property>
      <con:name>nonSerializedProductSpecExtId</con:name>
      <con:value>NONSERIALIZEDPRODSPECEXTID-ddd5978f-8bba-4ede-9eef-c24a2b1f53fc</con:value>
    </con:property>
    <con:property>
      <con:name>nonSerializedProductSpecCode</con:name>
      <con:value>NONSERIALIZEDPRODSPECCODE-bc62488f-4ccf-4aa5-b4a6-9db42b4024e0</con:value>
    </con:property>
    <con:property>
      <con:name>serializedProductSpecId</con:name>
      <con:value>34</con:value>
    </con:property>
    <con:property>
      <con:name>serializedProductSpecExtId</con:name>
      <con:value>SERIALIZEDPRODUCTSPEC-EXTID-${#TestSuite#entityId}</con:value>
    </con:property>
    <con:property>
      <con:name>serializedProductSpecCode</con:name>
      <con:value>SERIALIZEDPRODUCTSPEC-CODE-${#TestSuite#entityId}</con:value>
    </con:property>
    <con:property>
      <con:name>serializedWithoutRangeProductSpecId</con:name>
      <con:value>35</con:value>
    </con:property>
    <con:property>
      <con:name>serializedWithoutRangeProductSpecExtId</con:name>
      <con:value>SERIALIZEDWITHOUTRANGEPRODUCTSPEC-EXTID-${#TestSuite#entityId}</con:value>
    </con:property>
    <con:property>
      <con:name>serializedWithoutRangeProductSpecCode</con:name>
      <con:value>SERIALIZEDWITHOUTRANGEPRODUCTSPEC-CODE-${#TestSuite#entityId}</con:value>
    </con:property>
    <con:property>
      <con:name>productSpecCharId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>productSpecCharName</con:name>
      <con:value>PRODUCTSPECCHARACTERISTIC-NAME-${#TestSuite#entityId}</con:value>
    </con:property>
    <con:property>
      <con:name>productSpecCharDesc</con:name>
      <con:value>PRODUCTSPECCHARACTERISTIC-DESC-${#TestSuite#entityId}</con:value>
    </con:property>
    <con:property>
      <con:name>productSpecCharValueId</con:name>
      <con:value>${#TestSuite#productSpecCharId}</con:value>
    </con:property>
    <con:property>
      <con:name>productSpecCharUseId</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>quantity</con:name>
      <con:value>100</con:value>
    </con:property>
    <con:property>
      <con:name>startSerialNumber</con:name>
      <con:value>531</con:value>
    </con:property>
    <con:property>
      <con:name>endSerialNumber</con:name>
      <con:value>449</con:value>
    </con:property>
    <con:property>
      <con:name>nonSerializedProductItemId</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>serializedProductItemId</con:name>
      <con:value>4</con:value>
    </con:property>
    <con:property>
      <con:name>serializedWithoutRangeProductItemId</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>isPairedTrue</con:name>
      <con:value>true</con:value>
    </con:property>
    <con:property>
      <con:name>isPairedFalse</con:name>
      <con:value>false</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>