<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="05b659f1-b350-4c13-b6eb-0478b80e9318" name="API INT Characteristic Owner Role Char Use" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="05b659f1-b350-4c13-b6eb-0478b80e9318fileName">API-INT-Characteristic-Owner-Role-Char-Use</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>