<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3377f2e2-f9ff-4576-9883-f0e48918ebf1" name="API INT File Upload" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3377f2e2-f9ff-4576-9883-f0e48918ebf1fileName">API-INT-File-Upload</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>