<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d0982f53-164c-473d-ba9b-7d87a83c82f1" name="API INT Product Confirmation" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d0982f53-164c-473d-ba9b-7d87a83c82f1fileName">API-INT-Product-Confirmation</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>