<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8347efe0-a3e0-40a7-a81d-b68ea6b26fa6" name="API EXT Product Request" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8347efe0-a3e0-40a7-a81d-b68ea6b26fa6fileName">API-EXT-Product-Request</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>