<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="730cc970-e041-4853-b355-8ca8a71cf486" name="API EXT Inventory" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="730cc970-e041-4853-b355-8ca8a71cf486fileName">API-EXT-Inventory</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>