<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="aa86243e-92aa-4c56-9d69-8b0375e24667" name="API INT SO Characteristic Owner Role" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="aa86243e-92aa-4c56-9d69-8b0375e24667fileName">API-INT-SO-Characteristic-Owner-Role</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>