<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="43d63b1b-87f3-4f7d-8de4-bd5a824f8a71" name="Test Suite for Payment Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="43d63b1b-87f3-4f7d-8de4-bd5a824f8a71fileName">Test-Suite-for-Payment-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>