<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d0108972-946f-4c42-b2a7-78dca8df48a2" name="API INT Account" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d0108972-946f-4c42-b2a7-78dca8df48a2fileName">API-Account</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>