<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="eeeffdc7-8bb4-45ac-bcb2-592e6f84525f" name="API INT Incoming Product Request" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="eeeffdc7-8bb4-45ac-bcb2-592e6f84525ffileName">API-INT-Incoming-Product-Request</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>