<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="12ea31ab-2c26-48d7-8807-089e502f06b3" name="API INT Sales Organization" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="12ea31ab-2c26-48d7-8807-089e502f06b3fileName">API-Sales-Organization</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>