<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4a3da536-206c-4449-b959-4141a7de747f" name="API INT SO Characteristic Owner Role Spec" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4a3da536-206c-4449-b959-4141a7de747ffileName">API-INT-SO-Characteristic-Owner-Role-Spec</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>