<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="317ae31f-33d0-4fd7-af76-3866f8f046a1" name="Test Suite for Starter Pack Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b9ca71cf-8f08-45b4-87af-df8e4a81ec12fileName">Test-Suite-for-Stock-Out-Business-Interaction</con:setting>
    <con:setting id="317ae31f-33d0-4fd7-af76-3866f8f046a1fileName">Test-Suite-for-Starter-Pack-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>