<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4c534427-b365-421b-9590-8e028c2bd52d" name="API INT Monetary Transaction" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c052e41c-2a6b-4e1b-9b0d-cca09856de02fileName">API-Money-Transfer</con:setting>
    <con:setting id="4c534427-b365-421b-9590-8e028c2bd52dfileName">API-INT-Monetary-Transaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>