<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="91f07ce7-abfc-40fd-8ce0-4e734b4a9dad" name="API EXT Characteristic Owner Role Char Use" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="91f07ce7-abfc-40fd-8ce0-4e734b4a9dadfileName">API-EXT-Characteristic-Owner-Role-Char-Use</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>