<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ed46d303-8431-4da5-b912-601fb79c6b7e" name="API INT Characteristics" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ed46d303-8431-4da5-b912-601fb79c6b7efileName">API-INT-Characteristics</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>