<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="619dd2eb-e771-4193-a792-855c65da5a62" name="Test Suite for Non Functional Requirements" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="619dd2eb-e771-4193-a792-855c65da5a62fileName">Test-Suite-for-Non-Functional-Requirements</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>