<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cecc09e5-9327-4b2b-9e31-08f37fa8cfb9" name="Test Suite for Create Inventory Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cecc09e5-9327-4b2b-9e31-08f37fa8cfb9fileName">Test-Suite-for-Create-Inventory-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>soId</con:name>
      <con:value>39</con:value>
    </con:property>
    <con:property>
      <con:name>userId</con:name>
      <con:value>41</con:value>
    </con:property>
    <con:property>
      <con:name>stateClosed</con:name>
      <con:value>Closed</con:value>
    </con:property>
    <con:property>
      <con:name>statusActive</con:name>
      <con:value>Active</con:value>
    </con:property>
    <con:property>
      <con:name>soExtId</con:name>
      <con:value>so-88372684-4d81-4d58-837f-ae581cb1d526</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>