<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="66c4b334-02ea-4310-bf9a-40e5fa80505a" name="API EXT Modify Box Product" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="66c4b334-02ea-4310-bf9a-40e5fa80505afileName">API-EXT-Modify-Box-Product</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>