<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b8b59633-8296-42ad-b7f9-6090d7232b0a" name="API INT Async" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b8b59633-8296-42ad-b7f9-6090d7232b0afileName">API-INT-Async</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>