<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="81456535-8c9f-4da2-9826-8c943586a810" name="Test Suite  for Change Entity Characteristics Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="81456535-8c9f-4da2-9826-8c943586a810fileName">Test-Suite--for-Change-Entity-Characteristics-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>