<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1a8155c5-0ea7-4777-b050-fd207b4a8524" name="API INT ProductTransfer" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1a8155c5-0ea7-4777-b050-fd207b4a8524fileName">API-INT-ProductTransfer</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>