<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="19bc8e91-28b8-4835-adff-3f71434bfcfc" name="API INT Slice" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="19bc8e91-28b8-4835-adff-3f71434bfcfcfileName">API-INT-Slice</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>