<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ca112bde-ebdc-451b-82a9-abe87a96633c" name="Test Suite for Product Status Change Business Interaction" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ca112bde-ebdc-451b-82a9-abe87a96633cfileName">Test-Suite-for-Product-Status-Change-Business-Interaction</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>userId</con:name>
      <con:value>1141</con:value>
    </con:property>
    <con:property>
      <con:name>soId</con:name>
      <con:value>1139</con:value>
    </con:property>
    <con:property>
      <con:name>placeId</con:name>
      <con:value>600</con:value>
    </con:property>
    <con:property>
      <con:name>startSerial</con:name>
      <con:value>15683</con:value>
    </con:property>
    <con:property>
      <con:name>quantity</con:name>
      <con:value>257</con:value>
    </con:property>
    <con:property>
      <con:name>nonSerializedProductId</con:name>
      <con:value>277</con:value>
    </con:property>
    <con:property>
      <con:name>serializedProductId</con:name>
      <con:value>278</con:value>
    </con:property>
    <con:property>
      <con:name>serializedWithoutRangeProductId</con:name>
      <con:value>279</con:value>
    </con:property>
    <con:property>
      <con:name>statusSellableString</con:name>
      <con:value>Sellable</con:value>
    </con:property>
    <con:property>
      <con:name>mainState</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>state</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>change_quantity</con:name>
      <con:value>167</con:value>
    </con:property>
    <con:property>
      <con:name>statusDamagedInteger</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>statusLostInteger</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>statusDamagedString</con:name>
      <con:value>Damaged</con:value>
    </con:property>
    <con:property>
      <con:name>statusLostString</con:name>
      <con:value>Lost</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>