<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8806427a-4f82-4787-801f-d0739aca11aa" name="API INT Characteristic Owner Role" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8806427a-4f82-4787-801f-d0739aca11aafileName">API-INT-Characteristic-Owner-Role</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>