<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4e6c937b-3f52-4fe4-a3fe-03220808d856" name="API INT JWT" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4e6c937b-3f52-4fe4-a3fe-03220808d856fileName">API-INT-JWT</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>