<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7539a7bc-e90c-4758-b09e-a2085b6c1ef8" name="API EXT Product Confirmation" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7539a7bc-e90c-4758-b09e-a2085b6c1ef8fileName">API-EXT-Product-Confirmation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>