<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="09961d65-7aeb-4399-a321-f6ad615bdec8" name="API INT Inventory" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="09961d65-7aeb-4399-a321-f6ad615bdec8fileName">API-Inventory</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>