<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b035c5a5-e22f-460d-96d9-7d623b4ad3c9" name="API INT Sales" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b035c5a5-e22f-460d-96d9-7d623b4ad3c9fileName">API-INT-Sales</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>