<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e6fa3b21-858e-4f43-8407-1f0134de0ac5" name="API EXT Change Sales Organizations of User" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2473b4bf-18a8-4e04-b4c2-c7ccb069bcc0fileName">API-EXT-Change-Sales-Organization-of-User</con:setting>
    <con:setting id="e6fa3b21-858e-4f43-8407-1f0134de0ac5fileName">API-EXT-Change-Sales-Organizations-of-User</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>