<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="94e02186-21a3-4017-afa8-3eac0257905e" name="API INT Product Reservation" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="94e02186-21a3-4017-afa8-3eac0257905efileName">API-INT-Product-Reservation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>