<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="771273fc-975c-4fe3-a8bd-a61caab53520" name="API EXT Specification" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="771273fc-975c-4fe3-a8bd-a61caab53520fileName">API-EXT-Specification</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>