<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7afff481-a60b-44c3-a1ae-c923eb76d5ab" name="API Initiate Authorization Data" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7afff481-a60b-44c3-a1ae-c923eb76d5abfileName">API-Initiate-Authorization-Data</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>httpStatus</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>response</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>