<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a59344df-ba9d-4e46-a91b-0e0afc017b0e" name="Test Suite for Pre Provisioned Business Interaction" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a59344df-ba9d-4e46-a91b-0e0afc017b0efileName">Test-Suite-for-Pre-Provisioned-Business-Interaction</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="c1a30220-c69a-4daa-bed2-0d1afc5cf254"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>